*{
    margin: 0%;
    font-family: 'Montserrat';
}

#header{
    display: flex;
    width: 100%;
    gap:9%;
    padding-inline: 10%;
    position: fixed;
    top: 0px;
    background-color: black;
    z-index: 1;}

    nav ul a{
        text-decoration: none;
        transition: color 0.3s ease;

    }

    a:hover {
        color: red;
        
      }

      a:hover img{
        filter: saturate(100);
        filter: contrast(0);
      }

    #centro, a{
        text-decoration: none;
        transition: color 0.3s ease;
    }

    #centro, a:hover{
        color: red;
    }
      

#centro{
    display: flex;
    gap: 10%;
    width: auto;
    justify-content: center;
    left: 50%;
    position: relative;
    top: 6px;}

#redes{
    display: flex;
    width: 10%;
    position: relative;
    left: 20%;
    cursor: pointer;
    align-items: end;}

#adso{
    color: crimson;
    font-size: 160%;
    position: relative;
    top: 2px;}

.barra_s{
    color: white;
    font-size: 80%;
    white-space: nowrap;
    cursor: pointer;
    }

#img1{
    position: relative;
    z-index: -1;
    opacity: 90%;
   
}

#texto_inicio{
    position: absolute;
    top: 25%;
    left: 16%;
    text-align: center;
    color: white;
    
}

#text1{
    font-size: 210%;
    line-height: 400%;
    letter-spacing: 7px;
    
}

#text2{
    display: flex;
    font-size: 400%;
}

#text2rojo{
    color: crimson;
    font-size: 80%;
    line-height: 160%;
    white-space: nowrap;
    
}

#f{
    white-space: nowrap;
}
#text3{
    font-size: 160%;
    line-height: 450%;
}

#botonPortafolio{
    font-size: 150%;
    border-color: solid white;
    border-radius: 40px;
    cursor: pointer;
    border-style: solid;
    line-height: 220%;
    position: relative;
    padding: 1%;
}


#botonPortafolio, a{
    text-decoration: none;
    color: white;
   
}


#section3{
    background-color: rgb(246, 238, 238);
}

#sobreMi{
    padding: 2%;
    top: 5%;
    left: 12%;
    position: relative;
    width: 82%;
    
}

#textsection3{
    width: 70%;
}

#fotflex{
    display: flex;
}

#foto{
    width: 40%;
    height: 20%;
    left: 6%;
    position: relative;
    
}

#titulo1{
    font-size: 170%;
    line-height: 130%;
    text-decoration: underline;
    text-decoration-color: rgb(191, 185, 185);
    text-decoration-thickness: 5px;
    white-space: nowrap;
    padding-top: 2%;
    display: inline-block;
    position: relative;
    left: 48%;
}

#titulo2{
    font-size: 300%;
    display: flex;
    line-height: 150%;
    white-space: nowrap;
    position: relative;
}

#titulo2rojo{
color: crimson;
white-space: nowrap;
}

#titulo3{
    font-size: 160%;
    line-height: 300%;
}

#presentacion{
    font-size: 150%;
    padding-bottom: 7%;
    width: 80%;
}

#botonCv{
    font-size: 140%;
    border-color: solid white;
    border-radius: 40px;
    cursor: pointer;
    width: 25%;
    border-style: solid ;
    height: 50px;
    line-height: 210%;
    text-align: center;
    position: relative;
}

#section4{
    background-color: rgb(239, 238, 238);
}

#title4{
    text-align: center;
    font-size: 150%;
    padding-top: 5%;
    font-size: 22px;
    text-decoration: underline;
    text-decoration-color: rgb(191, 185, 185);
    text-decoration-thickness: 5px;
    
}

.mini{
    font-size: 140%;
    line-height: 100%;
}

.hr{
    left: 32%;
    position: relative;
    width: 30%;
    padding: 4%;
  
}

#cajas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5%;
    gap: 5%;
    
  }

.box{
    position: relative;
    width: 100%;
    text-align: center;
    background-color: white;
    height: 100%;
}


#code{
    filter: brightness(1);
    filter: contrast(10);
    filter: blur(100);
    filter: brightness(2);
}

#programacion{
    filter: saturate(10);
    filter: grayscale(1);
    filter: brightness(100);
    filter: opacity(10);
    filter: blur(100);
    padding-top: 3%;
    line-height: 260%;
}

#seo{
    filter: saturate(100);
    filter: contrast(0);
    filter: grayscale(100);
    padding-top: 4%;
    line-height: 245%;
}

#alojamiento{
    filter: saturate(0);
    filter: contrast(0);
    filter: blur(100);
    padding-top: 6%;
    line-height: 370%;
}

#diseniador{
    filter: saturate(0);
    filter: brightness(1.5);
    padding-top: 3%;
}

#consultor{
    filter: saturate(0);
    filter: contrast(1);
    filter: grayscale(100);
    padding-top: 5%;
    line-height: 400%;
}

.subti{
    font-size: 110%;
    line-height: 400%;
    bottom: 8%;
    position: relative;
    height: 10%;
}

#hbld{
    background: linear-gradient(#eb5a5acc, rgba(43, 16, 16, 8)), url(./Imagenes/habilidades.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 90px 0;
    position: relative;
    text-align: center;
    }

#tlthbl{
    color: white;
    display: flex;
    gap: 72.8%;
    position: relative;
    left: 29.6%;
    width: 37.8%;
    line-height: 250%;
    white-space: nowrap;
}

#tlthb2{
    color: white;
    display: flex;
    gap: 78%;
    position: relative;
    left: 29.6%;
    width: 37.8%;
    line-height: 250%;
    white-space: nowrap;
}

#tlthb3{
    color: white;
    display: flex;
    gap: 71.5%;
    position: relative;
    left: 29.6%;
    width: 37.8%;
    line-height: 250%;
    white-space: nowrap;
}

#tlthb4{
    color: white;
    display: flex;
    gap: 82%;
    position: relative;
    left: 29.6%;
    width: 37.8%;
    line-height: 250%;
    white-space: nowrap;
}

.barra{
    background-color: gray;
    width: 37.9%;
    height: 6px;
    position: relative;
    left: 30%;
    margin-bottom: 2%;
}

#progreso1{
    background-color: white;
    width: 0%;
    height: 100%;
    animation: progreso1 3s ease forwards;
    }

@keyframes  progreso1 {
    from {
        width: 0%;
    }
    to {
        width: 75%;
    }
}

#progreso2{
    background-color: white;
    width: 0%;
    height: 100%;
    animation: progreso2 3s ease forwards;
    }

@keyframes  progreso2 {
    from {
        width: 0%;
    }
    to {
        width: 70%;
    }
}

#progreso3{
    background-color: white;
    width: 0%;
    height: 100%;
    animation: progreso3 3s ease forwards;
    }

@keyframes  progreso3 {
    from {
        width: 0%;
    }
    to {
        width: 90%;
    }
}

#progreso4{
    background-color: white;
    width: 0%;
    height: 100%;
    animation: progreso4 3s ease forwards;
    }

@keyframes  progreso4 {
    from {
        width: 0%;
    }
    to {
        width: 35%;
    }
}
    


#habilidades{
    color: white;
    font-size: 150%;
    padding-top: 5%;
    padding: 5%;
    top: 2%;
    left: 45.2%;
}

#section6{
    padding-top: 5%;
    height: 800px;
    background-color:  rgb(246, 238, 238);
}
#proyectos{
    text-align: center;
    font-size: 150%;
    padding-bottom: 2%;
    text-decoration: underline;
    text-decoration-color: rgb(191, 185, 185);
    text-decoration-thickness: 5px;
    
}

#imagenes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-inline: 10%;
    justify-content: center;
    position: relative;
    gap: 4%;
}

.project img{
    transition: 0.5s;
    filter: grayscale(1);
    object-fit: cover;
    
}

.project:hover img{
    filter: grayscale(0);
    cursor: pointer;
}

.project{
    position: relative;
    height: auto;
}

.descrip{
    position: absolute;
    color: rgb(219, 57, 90);
    transition: 0.2s;
    padding: 10px;
    bottom: 0%;
    width: 94%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.622);
}

.project:hover .descrip{
    z-index: 1;
}

#section7{
    padding: 7%;
    background-color: rgb(239, 238, 238);
    margin: auto;
}

#contacto{
    text-align: center;
    font-size: 150%;
    padding-top: 1%;
    text-decoration: underline;
    text-decoration-color: rgb(191, 185, 185);
    text-decoration-thickness: 5px;
    padding-bottom: 5%;
}

#ctxt{
width: auto;
}

#primeros{
    display: flex;
    justify-content: space-between;
    gap: 4%;
    padding-bottom: 2%;
}

.ct1{
    padding-inline: 1%;
    width: 48%;
    height: 45px;
    border-radius: 15px;
    border: 1px solid #919191;
}

#seg-tre{
    margin-bottom: 10%;

}

#ct2{
    width: 97.6%;
    height: 45px;
    border-radius: 15px;   
    margin-bottom: 2%; 
    padding-inline: 1%;
    border: 1px solid #919191;
}

#mensaje{
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #919191;
    width: 96.6%;
}

#boton{
    left: 45.5%;
    position: relative;
    padding: 0.5%;
    border-radius: 15px;
    font-size: 100%;
    margin-top: 1%;
    border: 1px solid #919191;
    cursor: pointer;
}


#red{
    display: flex;
    width: 10%;
    position: relative;
    cursor: pointer;
    left: 42%;
    padding-top: 1%;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 30px 0;
    position: relative;
}


@media screen and (max-width: 480px) and (min-width: 400px){

    #header{
        width: 100%;
        font-size: 90%;
        gap:0px;
        padding-inline: 0px;
        padding: 0.5%;
        display: block;
        }
    
    #centro{  
        gap: 1.5%;
        width: auto;
        left: 0%;
        margin: 0%;
        padding: 0%;
        }
    
    #adso{
      font-size: 100%;
      left: 45%;
      
    }
    
    #redes{
        width: 20%;
        left: 32%;
        align-items: end;
        padding-top: 3%;
    }
    
    #texto_inicio{
        position: absolute;
        top: 10%;
        color: white;
        font-size: 35%;
        
    }
    
    #text1{
        font-size: 210%;
        line-height: 400%;
        letter-spacing: 7px;
        
    }
    
    #text2{
        display: flex;
        font-size: 400%;
    }
    
    #text2rojo{
        color: crimson;
        font-size: 80%;
        line-height: 160%;
        white-space: nowrap;
        
    }
    
    #f{
        white-space: nowrap;
    }
    #text3{
        font-size: 190%;
        line-height: 450%;
    }
    
    
    #botonPortafolio{
        font-size: 170%;
        border-color: solid white;
        border-radius: 40px;
        cursor: pointer;
        border-style: solid;
        line-height: 220%;
        position: relative;
        padding: 1%;
    }
    
    #titulo1{
        left: 38%;
        padding-bottom: 3%;
    }
    
    #textsection3{
        width: 100%;
    }
    
    #fotflex{
        display: block;
    }
    
    #foto{
        width: 70%;
        left: 28%;
    }
    
    #sobreMi{
        padding: 0%;
    }
    
    #titulo2{
        font-size: 190%;
        left: 7%;
    }
    
    #titulo3{
        left: 10%;
        position: relative;
        width: 70%;
    }
    
    #presentacion{
        width: 100%;
    }
    
    #botonCv{
        width: 45%;
        left: 24%;
    }
    
    #section4{
        height: auto;
        padding-bottom: 20%;
    }
    
    #cajas{
        grid-template-columns: repeat(1, 1fr);
        padding: 5%;
        gap: 1%;
    }
    
    #section6{
        padding-bottom: 25%;
        margin: 0%;
        height: auto;
    }
    
    #imagenes{
        grid-template-columns: repeat(2, 1fr);
        padding-inline: 10%;
        justify-content: center;
        gap: 4%;
        padding: 3.7%;
    }
    
    #tlthbl{
        gap: 15%;
    }
    
    #tlthb2{
        gap: 25%;
    }
    
    #tlthb3{
        gap: 17%;
    }
    
    #tlthb4{
        gap: 35%;
    }
    
    #mensaje{
        width: 90%;
    }
    
    #enviar{
        width: 50%;
        text-align: center;
    }}



@media screen and (max-width: 600px) and (min-width: 480px){

#header{
    width: 100%;
    font-size: 90%;
    gap:0px;
    padding-inline: 0px;
    padding: 0.5%;
    display: block;
    }

#centro{  
    gap: 1.5%;
    width: auto;
    left: 0%;
    margin: 0%;
    padding: 0%;
    }

#adso{
  font-size: 100%;
  left: 45%;
  
}

#redes{
    width: 20%;
    left: 32%;
    align-items: end;
    padding-top: 3%;
}

#texto_inicio{
    position: absolute;
    top: 12%;
    color: white;
    font-size: 41%;
    
}

#text1{
    font-size: 210%;
    line-height: 400%;
    letter-spacing: 7px;
    
}

#text2{
    display: flex;
    font-size: 400%;
}

#text2rojo{
    color: crimson;
    font-size: 80%;
    line-height: 160%;
    white-space: nowrap;
    
}

#f{
    white-space: nowrap;
}
#text3{
    font-size: 190%;
    line-height: 450%;
}


#botonPortafolio{
    font-size: 170%;
    border-color: solid white;
    border-radius: 40px;
    cursor: pointer;
    border-style: solid;
    line-height: 220%;
    position: relative;
    padding: 1%;
}

#titulo1{
    left: 38%;
    padding-bottom: 3%;
}

#textsection3{
    width: 100%;
}

#fotflex{
    display: block;
}

#foto{
    width: 70%;
    left: 28%;
}

#sobreMi{
    padding: 0%;
}

#titulo2{
    font-size: 190%;
    left: 7%;
}

#titulo3{
    left: 10%;
    position: relative;
    width: 70%;
}

#presentacion{
    width: 100%;
}

#botonCv{
    width: 45%;
    left: 24%;
}

#section4{
    height: auto;
    padding-bottom: 20%;
}

#cajas{
    grid-template-columns: repeat(1, 1fr);
    padding: 5%;
    gap: 1%;
}

#section6{
    padding-bottom: 25%;
    margin: 0%;
    height: auto;
}

#imagenes{
    grid-template-columns: repeat(2, 1fr);
    padding-inline: 10%;
    justify-content: center;
    gap: 4%;
    padding: 3.7%;
}

#tlthbl{
    gap: 15%;
}

#tlthb2{
    gap: 25%;
}

#tlthb3{
    gap: 17%;
}

#tlthb4{
    gap: 35%;
}

#mensaje{
    width: 90%;
}

#enviar{
    width: 50%;
    text-align: center;
}}

@media screen and (max-width: 718px) and (min-width: 600px){

    #header{
        width: 100%;
        font-size: 90%;
        gap:0px;
        padding-inline: 0px;
        padding: 0.5%;
        
        }
    
    #centro{  
        gap: 1.5%;
        width: auto;
        left: 20%;
        margin: 0%;
        padding-left: 10%;
        }
    
    #adso{
      font-size: 100%;
      left: 4%;
      padding-left: 5%;
      
    }
    
    #redes{
        width: 20%;
        left: 12%;
        align-items: end;
        
    }
    
    #texto_inicio{
        position: absolute;
        top: 10%;
        left: 12%;
        color: white;
        font-size: 55%;
        
    }
    
    #text1{
        font-size: 210%;
        line-height: 400%;
        letter-spacing: 7px;
        
    }
    
    #text2{
        display: flex;
        font-size: 400%;
    }
    
    #text2rojo{
        color: crimson;
        font-size: 80%;
        line-height: 160%;
        white-space: nowrap;
        
    }
    
    #f{
        white-space: nowrap;
    }
    #text3{
        font-size: 190%;
        line-height: 450%;
    }
    
    
    #botonPortafolio{
        font-size: 170%;
        border-color: solid white;
        border-radius: 40px;
        cursor: pointer;
        border-style: solid;
        line-height: 220%;
        position: relative;
        padding: 1%;
    }
    
    #titulo1{
        left: 38%;
        padding-bottom: 3%;
    }
    
    #textsection3{
        width: 100%;
    }
    
    #fotflex{
        display: block;
    }
    
    #foto{
        width: 70%;
        left: 28%;
    }
    
    #sobreMi{
        padding: 0%;
    }

    #bloque1{
        width: 70%;
        padding-left: 12%;
    }
    
    #titulo2{
        font-size: 190%;
        left: 7%;
    }
    
    #titulo3{
        left: 10%;
        position: relative;
        width: 70%;
    }
    
    #presentacion{
        width: 100%;
    }
    
    #botonCv{
        width: 45%;
        left: 24%;
    }
    
    #section4{
        height: auto;
        padding-bottom: 10%;
    }
    
    #cajas{
        grid-template-columns: repeat(2, 1fr);
        padding: 5%;
        gap: 1%;
    }
    
    #section6{
        padding-bottom: 25%;
        margin: 0%;
        height: auto;
    }
    
    #imagenes{
        grid-template-columns: repeat(2, 1fr);
        padding-inline: 10%;
        justify-content: center;
        gap: 4%;
        padding: 3.7%;
    }
    
    #tlthbl{
        gap: 35%;
    }
    
    #tlthb2{
        gap: 45%;
    }
    
    #tlthb3{
        gap: 37%;
    }
    
    #tlthb4{
        gap: 55%;
    }
    
    #mensaje{
        width: 93%;
    }
    
    #enviar{
        width: 50%;
        text-align: center;
    }}



    @media screen and (max-width: 830px) and (min-width: 718px){

        #header{
            width: 100%;
            font-size: 90%;
            gap:5%;
            padding-inline: 0px;
            padding: 0.5%;
            
            }
        
        #centro{  
            gap: 1.5%;
            width: auto;
            left: 20%;
            margin: 0%;
            padding-left: 10%;
            }
        
        #adso{
          font-size: 150%;
          left: 4%;
          padding-left: 5%;
          
        }
        
        #redes{
            width: 20%;
            left: 12%;
            align-items: end;
            
        }
        
        #texto_inicio{
            position: absolute;
            top: 10%;
            left: 15%;
            color: white;
            font-size: 60%;
            
        }
        
        #text1{
            font-size: 210%;
            line-height: 400%;
            letter-spacing: 7px;
            
        }
        
        #text2{
            display: flex;
            font-size: 400%;
        }
        
        #text2rojo{
            color: crimson;
            font-size: 80%;
            line-height: 160%;
            white-space: nowrap;
            
        }
        
        #f{
            white-space: nowrap;
        }
        #text3{
            font-size: 190%;
            line-height: 450%;
        }
        
        
        #botonPortafolio{
            font-size: 170%;
            border-color: solid white;
            border-radius: 40px;
            cursor: pointer;
            border-style: solid;
            line-height: 220%;
            position: relative;
            padding: 1%;
        }
        
        #titulo1{
            left: 41%;
            padding-bottom: 3%;
        }
        
        #textsection3{
            width: 100%;
        }
        
        #fotflex{
            display: block;
        }
        
        #foto{
            width: 70%;
            left: 28%;
        }
        
        #sobreMi{
            padding: 0%;
        }
    
        #bloque1{
            width: 70%;
            padding-left: 18%;
        }
        
        #titulo2{
            font-size: 190%;
            left: 7%;
        }
        
        #titulo3{
            left: 10%;
            position: relative;
            width: 70%;
        }
        
        #presentacion{
            width: 100%;
        }
        
        #botonCv{
            width: 45%;
            left: 24%;
        }
        
        #section4{
            height: auto;
            padding-bottom: 10%;
        }
        
        #cajas{
            grid-template-columns: repeat(2, 1fr);
            padding: 5%;
            gap: 1%;
        }
        
        #section6{
            padding-bottom: 25%;
            margin: 0%;
            height: auto;
        }
        
        #imagenes{
            grid-template-columns: repeat(2, 1fr);
            padding-inline: 10%;
            justify-content: center;
            gap: 4%;
            padding: 3.7%;
        }
        
        #tlthbl{
            gap: 45%;
        }
        
        #tlthb2{
            gap: 50%;
        }
        
        #tlthb3{
            gap: 42%;
        }
        
        #tlthb4{
            gap: 60%;
        }
        
        #mensaje{
            width: 93%;
        }
        
        #enviar{
            width: 50%;
            text-align: center;
        }}




        @media screen and (max-width: 950px) and (min-width: 830px){

            #header{
                width: 100%;
                font-size: 90%;
                gap: 10%;
                padding-inline: 0px;
                padding: 0.5%;
                
                }
            
            #centro{  
                gap: 1.5%;
                width: auto;
                left: 17%;
                margin: 0%;
                padding-left: 10%;
                }
            
            #adso{
              font-size: 160%;
              left: 4%;
              padding-left: 5%;
              
            }
            
            #redes{
                width: 20%;
                left: 10%;
                align-items: end;
                
            }
            
            #texto_inicio{
                position: absolute;
                top: 20%;
                left: 18%;
                color: white;
                font-size: 60%;
                
            }
            
            #text1{
                font-size: 210%;
                line-height: 400%;
                letter-spacing: 7px;
                
            }
            
            #text2{
                display: flex;
                font-size: 400%;
            }
            
            #text2rojo{
                color: crimson;
                font-size: 80%;
                line-height: 160%;
                white-space: nowrap;
                
            }
            
            #f{
                white-space: nowrap;
            }
            #text3{
                font-size: 190%;
                line-height: 450%;
            }
            
            
            #botonPortafolio{
                font-size: 170%;
                border-color: solid white;
                border-radius: 40px;
                cursor: pointer;
                border-style: solid;
                line-height: 220%;
                position: relative;
                padding: 1%;
            }
            
            #titulo1{
                left: 42%;
                padding-bottom: 3%;
            }
            
            #textsection3{
                width: 100%;
            }
            
            #fotflex{
                display: block;
            }
            
            #foto{
                width: 70%;
                left: 28%;
            }
            
            #sobreMi{
                padding: 0%;
            }
        
            #bloque1{
                width: 70%;
                padding-left: 18%;
            }
            
            #titulo2{
                font-size: 190%;
                left: 7%;
            }
            
            #titulo3{
                left: 10%;
                position: relative;
                width: 70%;
            }
            
            #presentacion{
                width: 100%;
            }
            
            #botonCv{
                width: 45%;
                left: 24%;
            }
            
            #section4{
                height: auto;
                padding-bottom: 10%;
            }
            
            #cajas{
                grid-template-columns: repeat(2, 1fr);
                padding: 5%;
                gap: 1%;
            }
            
            #section6{
                padding-bottom: 25%;
                margin: 0%;
                height: auto;
            }
            
            #imagenes{
                grid-template-columns: repeat(2, 1fr);
                padding-inline: 10%;
                justify-content: center;
                gap: 4%;
                padding: 3.7%;
            }
            
            #tlthbl{
                gap: 45%;
            }
            
            #tlthb2{
                gap: 50%;
            }
            
            #tlthb3{
                gap: 42%;
            }
            
            #tlthb4{
                gap: 60%;
            }
            
            #mensaje{
                width: 93%;
            }
            
            #enviar{
                width: 50%;
                text-align: center;
            }}
    
            @media screen and (max-width: 1070px) and (min-width: 950px){

                #header{
                    width: 100%;
                    font-size: 100%;
                    gap: 18%;
                    padding-inline: 0px;
                    padding: 0.5%;
                    
                    }
                
                #centro{  
                    gap: 1.5%;
                    width: auto;
                    left: 17%;
                    margin: 0%;
                    padding-left: 10%;
                    }
                
                #adso{
                  font-size: 160%;
                  left: 4%;
                  padding-left: 5%;
                  
                }
                
                #redes{
                    width: 20%;
                    left: 0%;
                    align-items: end;
                    
                }
                
                #texto_inicio{
                    position: absolute;
                    top: 27%;
                    left: 19%;
                    color: white;
                    font-size: 70%;
                    
                }
                
                #text1{
                    font-size: 210%;
                    line-height: 400%;
                    letter-spacing: 7px;
                    
                }
                
                #text2{
                    display: flex;
                    font-size: 400%;
                }
                
                #text2rojo{
                    color: crimson;
                    font-size: 80%;
                    line-height: 160%;
                    white-space: nowrap;
                    
                }
                
                #f{
                    white-space: nowrap;
                }
                #text3{
                    font-size: 190%;
                    line-height: 450%;
                }
                
                
                #botonPortafolio{
                    font-size: 170%;
                    border-color: solid white;
                    border-radius: 40px;
                    cursor: pointer;
                    border-style: solid;
                    line-height: 220%;
                    position: relative;
                    padding: 1%;
                }
                
                #titulo1{
                    left: 42%;
                    padding-bottom: 3%;
                }
                
                #textsection3{
                    width: 100%;
                }
                
                #fotflex{
                    display: block;
                }
                
                #foto{
                    width: 70%;
                    left: 28%;
                }
                
                #sobreMi{
                    padding: 0%;
                }
            
                #bloque1{
                    width: 70%;
                    padding-left: 22%;
                }
                
                #titulo2{
                    font-size: 190%;
                    left: 7%;
                }
                
                #titulo3{
                    left: 10%;
                    position: relative;
                    width: 70%;
                }
                
                #presentacion{
                    width: 100%;
                }
                
                #botonCv{
                    width: 30%;
                    left: 33%;
                }
                
                #section4{
                    height: auto;
                    padding-bottom: 10%;
                }
                
                #cajas{
                    grid-template-columns: repeat(2, 1fr);
                    padding: 5%;
                    gap: 1%;
                }
                
                #section6{
                    padding-bottom: 5%;
                    margin: 0%;
                    height: auto;
                }
                
                #imagenes{
                    grid-template-columns: repeat(3, 1fr);
                    padding-inline: 10%;
                    justify-content: center;
                    gap: 4%;
                    padding: 3.7%;
                }
                
                #tlthbl{
                    gap: 45%;
                }
                
                #tlthb2{
                    gap: 50%;
                }
                
                #tlthb3{
                    gap: 42%;
                }
                
                #tlthb4{
                    gap: 60%;
                }
                
                #mensaje{
                    width: 95.2%;
                }
                
                #enviar{
                    width: 50%;
                    text-align: center;
                }}



                @media screen and (max-width: 1200px) and (min-width: 1069px){

                    #header{
                        width: 100%;
                        font-size: 100%;
                        gap: 18%;
                        padding-inline: 0px;
                        padding: 0.5%;
                        
                        }
                    
                    #centro{  
                        gap: 7%;
                        width: auto;
                        left: 17%;
                        margin: 0%;
                        padding-left: 10%;
                        }
                    
                    #adso{
                      font-size: 160%;
                      left: 4%;
                      padding-left: 5%;
                      
                    }
                    
                    #redes{
                        width: 15%;
                        left: 0%;
                        align-items: end;
                        
                    }
                    
                    #texto_inicio{
                        position: absolute;
                        top: 27%;
                        left: 23%;
                        color: white;
                        font-size: 70%;
                        
                    }
                    
                    #text1{
                        font-size: 210%;
                        line-height: 400%;
                        letter-spacing: 7px;
                        
                    }
                    
                    #text2{
                        display: flex;
                        font-size: 400%;
                    }
                    
                    #text2rojo{
                        color: crimson;
                        font-size: 80%;
                        line-height: 160%;
                        white-space: nowrap;
                        
                    }
                    
                    #f{
                        white-space: nowrap;
                    }
                    #text3{
                        font-size: 190%;
                        line-height: 450%;
                    }
                    
                    
                    #botonPortafolio{
                        font-size: 170%;
                        border-color: solid white;
                        border-radius: 40px;
                        cursor: pointer;
                        border-style: solid;
                        line-height: 220%;
                        position: relative;
                        padding: 1%;
                    }
                    
                    #titulo1{
                        left: 43%;
                    }
                    
                    #textsection3{
                        width: 200%;
                    }
                    
                    #fotflex{
                        width: 100%;
                        gap: 0%;
                    } 
                    
                    #foto{
                        width: 120%;
                        
                        
                    }
                    
                 #sobreMi{
                        padding: 0%;
                    }
                
                    #bloque1{
                        right: 6%;
                        position: relative;
                       
                    }
                    
                    #titulo2{
                        font-size: 190%;
                        left: 7%;
                    }
                    
                    #titulo3{
                        left: 7%;
                        position: relative;
                        width: 70%;
                    } */
                    
                    #presentacion{
                        width: 100%;
                        right: 22%;
                        position: relative;
                    }
                    
                    #botonCv{
                        width: 30%;
                    } 
                    
                    #section4{
                        height: auto;
                        padding-bottom: 10%;
                    }
                    
                    #cajas{
                        grid-template-columns: repeat(3, 1fr);
                        padding: 5%;
                        gap: 1%;
                    }
                    
                    #section6{
                        padding-bottom: 5%;
                        margin: 0%;
                        height: auto;
                    }
                    
                    #imagenes{
                        grid-template-columns: repeat(3, 1fr);
                        padding-inline: 10%;
                        justify-content: center;
                        gap: 4%;
                        padding: 3.7%;
                    }
                    
                    #tlthbl{
                        gap: 65%;
                    }
                    
                    #tlthb2{
                        gap: 71%;
                    }
                    
                    #tlthb3{
                        gap: 63%;
                    }
                    
                    #tlthb4{
                        gap: 75%;
                    }
                    
                    #mensaje{
                        width: 95.2%;
                    }
                    
                    #enviar{
                        width: 50%;
                        text-align: center;
                    }}

                    @media screen and (max-width: 1200px) and (min-width: 1070px){

                        #header{
                            width: 100%;
                            font-size: 100%;
                            gap: 18%;
                            padding-inline: 0px;
                            padding: 0.5%;
                            
                            }
                        
                        #centro{  
                            gap: 7%;
                            width: auto;
                            left: 17%;
                            margin: 0%;
                            padding-left: 10%;
                            }
                        
                        #adso{
                          font-size: 160%;
                          left: 4%;
                          padding-left: 5%;
                          
                        }
                        
                        #redes{
                            width: 15%;
                            left: 0%;
                            align-items: end;
                            
                        }
                        
                        #texto_inicio{
                            position: absolute;
                            top: 27%;
                            left: 23%;
                            color: white;
                            font-size: 70%;
                            
                        }
                        
                        #text1{
                            font-size: 210%;
                            line-height: 400%;
                            letter-spacing: 7px;
                            
                        }
                        
                        #text2{
                            display: flex;
                            font-size: 400%;
                        }
                        
                        #text2rojo{
                            color: crimson;
                            font-size: 80%;
                            line-height: 160%;
                            white-space: nowrap;
                            
                        }
                        
                        #f{
                            white-space: nowrap;
                        }
                        #text3{
                            font-size: 190%;
                            line-height: 450%;
                        }
                        
                        
                        #botonPortafolio{
                            font-size: 170%;
                            border-color: solid white;
                            border-radius: 40px;
                            cursor: pointer;
                            border-style: solid;
                            line-height: 220%;
                            position: relative;
                            padding: 1%;
                        }
                        
                        #titulo1{
                            left: 43%;
                        }
                        
                        #textsection3{
                            width: 200%;
                        }
                        
                        #fotflex{
                            width: 100%;
                            gap: 0%;
                        } 
                        
                        #foto{
                            width: 120%;
                            
                            
                        }
                        
                     #sobreMi{
                            padding: 0%;
                        }
                    
                        #bloque1{
                            right: 6%;
                            position: relative;
                           
                        }
                        
                        #titulo2{
                            font-size: 190%;
                            left: 7%;
                        }
                        
                        #titulo3{
                            left: 7%;
                            position: relative;
                            width: 70%;
                        } 
                        
                        #presentacion{
                            width: 100%;
                            right: 2%;
                            position: relative;
                        }
                        
                        #botonCv{
                            width: 30%;
                        } 
                        
                        #section4{
                            height: auto;
                            padding-bottom: 10%;
                        }
                        
                        
                        
                        #section6{
                            padding-bottom: 5%;
                            margin: 0%;
                            height: auto;
                        }
                        
                        #imagenes{
                            grid-template-columns: repeat(3, 1fr);
                            padding-inline: 10%;
                            justify-content: center;
                            gap: 4%;
                            padding: 3.7%;
                        }
                        
                        #tlthbl{
                            gap: 65%;
                        }
                        
                        #tlthb2{
                            gap: 71%;
                        }
                        
                        #tlthb3{
                            gap: 63%;
                        }
                        
                        #tlthb4{
                            gap: 75%;
                        }
                        
                        #mensaje{
                            width: 95.2%;
                        }
                        
                        #enviar{
                            width: 50%;
                            text-align: center;
                        }}





