*{
    margin: 0px;
    padding: 0px;
}

#container{
    background-color: #000005;
    width: 60%;
    padding: 2%;
    position: relative;
    border-radius: 15px;
    margin-left: 18%;
    top: 40px;
    
}

h2 {
    color: #faf5f5;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #fdfdfd;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #0056b3;
}

#tablaContainer {
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    color: white;
}

th {
    background-color: #f2f2f2;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h2 {
    color: #2fd4e0;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #fdf9f9;
}

#actividad, #fecha {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

#prioridad {
    width: 10%;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #0056b3;
}

#tablaContainer {
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    
}

td {
    border: 3px solid #00fbfb;
    padding: 8px;
    text-align: left;
    
}

th {
    background-color: #212cff;
    color: rgb(255, 0, 255);
    border: 3px solid #00fbfb;
    padding: 8px;
    text-align: left;
}
