*{
    gap: 0px;
    margin: 0px;
}

#formulario{
    margin-left: 22%; /* 20 */
    top: 25%; /* 28 */
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3fr, 1fr);
   
}

.columnas{
    align-items: start;
    justify-content: center;
    text-align: center;
    border-style: groove;
    border-color: rgb(7, 133, 93);
    background-color: rgba(155, 115, 247, 0.668);
    width: 120%;
    height: 130px;
    
}

#listaDatos{
    z-index: 2;
    position: absolute;
    color: rgb(0, 255, 123);
}

#primera{
    display: flex;
}

#segunda{
    display: flex;
}

.gen{
    display: flex;
    
}

#nombres{
    text-align: center;
    
}

#apellidos{
    text-align: center
}

#telefono{
    text-align: center
}

#genero{
    text-align: center
}

#num_doc{
    text-align: center
}

#correo{
    text-align: center
}

#Fecha{
    text-align: center
}

#img{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 1px;
    
    
}

#botn{
    text-align: center;
    border-style: groove;
    border-color: rgb(7, 133, 93);
    background-color: rgba(27, 157, 131, 0.645);
    width: 99.3%;
    height: 30px;
    font-size: 140%;
}

#tp{
    cursor: pointer;
    border-radius: 10px;
    width: 10%;
}

@media screen and (max-width: 647px) and (min-width: 200px){
    #formulario{
        margin-left: 10%; 
        top: 20%; 
    }

    .columnas{
        width: 100%;
        height: auto;
    }

    #botn{
        width: 90%;
        font-size: 120%;
    }

    #tp{
        width: 30%;
    }
}

@media screen and (max-width: 645px) and (min-width: 495px){
    #formulario{
        margin-left: 5%; 
        top: 18%; 
    }

    .columnas{
        width: 95%;
        height: auto;
    }

    #botn{
        width: 90%;
        font-size: 110%;
    }

    #tp{
        width: 35%;
    }
}

@media screen and (max-width: 735px) and (min-width: 647px){
    #formulario{
        margin-left: 15%; 
        top: 23%; 
    }

    .columnas{
        width: 110%;
        height: auto;
    }

    #botn{
        width: 90%;
        font-size: 130%;
    }

    #tp{
        width: 25%;
    }
}

@media screen and (max-width: 800px) and (min-width: 735px){
    #formulario{
        margin-left: 18%; 
        top: 25%; 
    }

    .columnas{
        width: 110%;
        height: auto;
    }

    #botn{
        width: 90%;
        font-size: 140%;
    }

    #tp{
        width: 20%;
    }
}

@media screen and (max-width: 900px) and (min-width: 800px){
    #formulario{
        margin-left: 20%; 
        top: 27%; 
    }

    .columnas{
        width: 110%;
        height: auto;
    }

    #botn{
        width: 90%;
        font-size: 150%;
    }

    #tp{
        width: 18%;
    }
}
