.encabezado {
    display: flex;
    width: 100%;
    gap: 47%;

}

#izquierda {
    display: flex;
    gap: 40px;

}

#derecha {
    display: flex;
    gap: 50px;
}

#container {
    display: grid;
    grid-template-rows: auto;
    width: auto;
    padding: 0px;
    gap: 2%;
}

#uno {
    display: flex;
    background-image: linear-gradient(to right, rgb(173, 171, 171), rgb(231, 221, 221));
    width: auto;
    height: auto;
    border-radius: 16px;
    flex-direction: column;
    line-height: 0px;

}

* {
    padding: 7px;
    margin: 0px;
    box-sizing: border-box;
}

#textouno {
    margin: 100px;
    font-size: 35px;
    line-height: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#textodos {
    line-height: 25px;
    font-size: 18px;
    text-align: right;

}

#textotres {
    color: white;
    font-size: 100px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
}

#audi{
    position: absolute;
    right: 30%;
    top: 25%;
}

#bton {
    background-color: rgb(235, 52, 52);
    width: 200px;
    font-size: 16px;
    text-align: center;
    color: white;
    padding: 22px;
    border-radius: 100px;
    margin-left: 8.5%;
    margin-top: 100px;
}


#dos {
    display: flex;
    width: 100%;
    height: auto;
    gap: 2%;
}

.txt1{
    font-size: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.txt2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.txt3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 29px;
    color: rgba(255, 235, 205, 0.281);
}

.mn {
    width: 30%;
    height: auto;
    border-radius: 16px;
    color: white;
    line-height: 210%;
    position: relative;
}

#auri{
    position: absolute;
    margin-left: 22%;
    top: 2%;
}

#smart{
    position: absolute;
    left: 8%;
    top: 7%;
}

#tres{
    display: flex;
    width: auto;
    height: auto;
    gap: 2%;
}

.largo {
    display: flex;
    background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(245, 42, 42));
    width: 55%;
    height: auto;
    border-radius: 16px;
    flex-direction: column;
    line-height: 110%;
    position: relative;
}

#imgl{
    position: absolute;
    top:15%;
    left:30%;
    

}

#ps5{
    position: absolute;
    top:5%;
    left:57%;
}

#laptop{
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: beige;
    
}

.blanco{
    margin: 0px;
    padding: 0px;
}

#oculus{
    position: absolute;
    top:0%;
    left: 40%;
}

#speaker{
    position: absolute;
    top: 50%;
    left: 40%;
    rotate: 100grad;
    
    
}

#cuatro{
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 10%;
    
    
}

.abajo{
    width: 25%;
    text-align: center;
    position: relative;

}

.textosa{
    left: 105%;
}

#cartera{
    position: absolute;
    top: 0%;
    right: 30%;
    margin-right: 20%;
    padding-right: 5%;
}

#truck{
    position: absolute;
    top: 10%;
    right: 30%;
    margin-right: 10%;
    padding-right: 15%;

}

#garantia{
    position: absolute;
    top: 0%;
    right: 30%;
    margin-right: 20%;
    padding-right: 5%;
}

#support{
    position: absolute;
    top: 0%;
    right: 30%;
    margin-right: 20%;
    padding-right: 5%;
}

.boton{
    background-color: rgb(231, 53, 53);
    width: 130px;
    height: 40px;
    border-radius: 20px;
    text-align:  center;
    margin: 8%;
    font-size: 110%;
    line-height: 25px;
}

.textos1{
    margin-left: 20px;
}

#cinco{
    background-color: #F42C37;
    width: auto;
    height: auto;
    border-radius: 15px;
    display: flex;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    gap: 15%;
    padding-inline-start: 15%;
    padding-block: 4%;
    align-items: center;
    position: relative;
}

#izq{
    width: 40%;
 line-height: 10%;
}

#der{
    width: 40%;
    
}

.t1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#t2{
    font-size: 340%;
    line-height: 150%;
    
}

#t3{
    font-size: 170%;
}

#botonf{
    background-color: rgb(231, 53, 53);
    width: 130px;
    height: 40px;
    border-radius: 20px;
    text-align:  center;
    font-size: 100%;
    line-height: 25px;
    margin-block-start: 7%;
    margin-left: 2%;
    cursor: pointer;

}

#audir{
    position: absolute;
    left: 22%;
    bottom: 3%;
}